@model SellerProductsViewModel
@{ Layout = "_SellerLayout";}


<form style="width:20rem;" asp-controller="Seller" asp-action="ProductNewOffer">
    <fieldset>
        <legend class="mb-3">Offer a Book</legend>
        <input type="hidden" asp-for=@Model.InventoryItem.Seller.Id/>
        <div class="form-group">
            <label>Book Name</label>
            <select class="form-control" asp-for=@Model.ProductName>
                @foreach (Product product in Model.ProductRepository.Products)
                {
                    <option>@product.Name</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label>Stock Quantity</label>
            <select class="form-control" asp-for="InventoryItem.StockQuantity">
                @for (int i = 0; i < 100; i++)
                {
                    <option>@i</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label class="control-label">Base Price</label>
            <div class="form-group">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Euro  </span>
                    </div>
                    <input asp-for=ProductPriceComponents.BasePrice type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                    <div class="input-group-append">
                        <span class="input-group-text">.00</span>
                    </div>
                </div>
            </div>
        </div>

    </fieldset>
    <button type="submit" class="btn btn-primary btn-lg btn-block mt-3">Offer the Book</button>
</form>
