@model SellerProductsOfferedViewModel
@{ Layout = "_SellerLayout";}

<div class="card border-light mb-3" style="max-width: 50rem;">
    <div class="card-header text-center">
       <h4>All products Currently on Offer</h4>
    </div>
    <div class="card-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Stock Quantity</th>
                    
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            @if (Model.SellerRepository.Count()==0)
            {
                <tr><td colspan="5" class="text-center text-danger"><h4>No Products Offered</h4></td></tr>
            }
            else
            {
                foreach (InventoryItem item in Model.SellerRepository)
                {
                    <tr >
                        <td>@item.InventoryItemID</td>
                        <td>@Model.InventoryItemRepository.GetProductName(item)</td>
                        <td>@item.StockQuantity</td>
                        
                        <td>
                            @if (item.GoLive == true) { <span class="text-success">Live</span>}
                            else { <h5 class="text-info">Pending</h5>}
                        </td>
                        <td><form asp-controller="Seller" asp-action="DeleteInventoryItem" asp-route-IneventoryItemID=@item.InventoryItemID>
                                <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                                    </form>
                        </td>
                        
                    </tr>
                }
            }
        </table>
    </div>
</div>