@model string
@{ Layout = "_AdministrationLayout";}


<form asp-controller="AdminRoles" asp-action="CreateRole" method="post">

    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label for="name" class="col-form-label"></label>
        <input name="name" class="form-control" type="text" placeholder="Enter a name to create a new role">
    </div>
    <button type="submit" class="btn btn-success">Create</button>
</form>
