@model AdminUsersViewModel
@{ Layout = "_AdministrationLayout";}

<h3 class="text-center mb-5">View Available Users</h3>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">User Name</th>
            <th scope="col">Email</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    @if (Model.AllUsers.Count() == 0)
    {
        <tr><td colspan="3" class="text-center">No User Accounts</td></tr>
    }
    else
    {
        foreach (AppUser user in Model.AllUsers)
        {
            <tr>

                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>
                    <form asp-controller="Admin" asp-action="Delete" asp-route-id="@user.Id" method="post">
                        <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                    </form>
                </td>
            </tr> 
        }
    }
</table>




