
    <div class="jumbotron jumbotron-fluid">
        
            <div class="container-fluid">
                <div class="row">
                    <div class="col"></div>
                    <div class="col-9 px-0">
                        <h1 class="display-4">The Cooperative Bookstore!</h1>
                        <p class="lead"></p>
                        <hr class="my-4">
                        <blockquote class="blockquote text-right">
                            <p class="mb-0"><em>The more one reads the more one sees</em></p>
                            <footer class="blockquote-footer">John Adams in <cite title="Source Title"> letter to Abigail Adams </cite></footer>
                        </blockquote>
                        <p class="lead">
                            <a class="btn btn-success btn-lg" href="#" role="button">View Our Books Collection</a>
                        </p>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
            
        
        
    </div>

<div class="container-fluid">
    <div class="row">
        <div class="col"></div>
        <div class="col-5">
            @Html.Partial("ProductCard")
        </div>
        <div class="col-5">
            @Html.Partial("ProductCard")
        </div>
        <div class="col"></div>
    </div>
</div>