@model ProductListViewModel
@{Layout = "_Layout";}

<div class="container-fluid" style="max-width:65rem;">
    <div class="row">
        @if (Model.productRepository.Products.Count() == 0)
        {
            <h3>There are no Products Available</h3>

        }
        else
        {
            @foreach (Product p in Model.productRepository.Products)
            {
                <div class="col-3">
                    <div class="card bg-light mx-3 mt-5" style="max-width:15rem;">
                        <div class=" container-fluid align-content-center mt-3">
                            <img style=" width:100%; display: block;" alt="Card image" src=@p.CoverFilePath>
                        </div>
                                             
                        <div class="card-body">
                            <button type="button" class="btn btn-primary btn-sm btn-block">Vew Product Details</button>
                            
                        </div>

                    </div>
                </div>
            }
        }
    </div>
</div>

