<!Doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <title>CoopEshop</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">

        <a class="navbar-brand navbar-nav mr-auto" asp-controller="Home" asp-action="Index">Home</a>

        <div class="navbar-nav mr-0">

            <a class="nav-item nav-link my-2 my-sm-0" asp-controller="Account" asp-action="Login">Sign Out</a>
        </div>
    </nav>
    
   

    <div class="container-fluid mt-5">
        <div class="row justify-content-center">
            <div class="col-2">
                
                <div class="list-group">
                    <a class="list-group-item list-group-item-action" asp-controller="AdminUsers" asp-action="AllUsers">
                        All Users
                    </a>
                    <a class="list-group-item list-group-item-action" href="#">
                        Sellers
                    </a>
                    <a class="list-group-item list-group-item-action" asp-controller="AdminRoles" asp-action="AllRoles">
                        Roles
                    </a>
                    <a class="list-group-item list-group-item-action" asp-controller="AdminProducts" asp-action="AllProducts">
                        Products
                    </a>
                </div>
            </div>
            <div class="col-1"></div>
            <div class="col-9">
                @ViewBag.Title
                
                    @RenderBody()
                               
            </div>
            
        </div>
    </div>



    <div>

    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/tether/dist/js/tether.min.js"></script>
    <script src="~/lib/bootstrap/js/dist/dropdown.js"></script>
    <script>
        $("a.list-group-item").on("click", function () {
            $("a.list-group-item").removeClass("active");
            $(this).addClass("active");
        });
    </script>
</body>
</html>

