<!Doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <title>CoopEshop</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">

        <a class="navbar-brand navbar-nav mr-auto" asp-controller="Home" asp-action="Index">Home</a>

        <div class="navbar-nav mr-0">

            <a class="nav-item nav-link my-2 my-sm-0" asp-controller="Account" asp-action="Login">Sign Out</a>
        </div>
    </nav>

    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-6">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="AdminRoles" asp-action="AllRoles">View Roles</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="AdminRoles" asp-action="CreateRole">Create Role</a>
                    </li>
                    
                </ul>
            </div>
            <div class="col-2"></div>
        </div>
    </div>

    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-2">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Admin" asp-action="AllUsers">Sellers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="AdminRoles" asp-action="AllRoles">Roles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Customers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Active</a>
                    </li>
                </ul>
            </div>
            <div class="col-10">
                <div class="container">
                    <div class="row justify-content-center">
                        
                        <div class="col-1">
                            
                        </div>
                        <div class="col-6">
                            @RenderBody()
                        </div>
                        <div class="col-3"></div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

   

    <div>
       
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/tether/dist/js/tether.min.js"></script>
    <script src="~/lib/bootstrap/js/dist/dropdown.js"></script>
    <script>
        $("a").on("click", function () {
            $("a").removeClass("active");
            $(this).addClass("active")
        });
    </script>
</body>
</html>

