
<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link" asp-controller="AdminProducts" asp-action="CreateProduct"><h5>Create Product</h5></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="AdminRoles" asp-action="EditRole"><h5>Edit Product</h5></a>
    </li>
</ul>

