
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="AdminRoles" asp-action="CreateRole"><h5>Create Role</h5></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="AdminRoles" asp-action="EditRole"><h5>Edit Role</h5></a>
                </li>
            </ul>
       

